/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    color: #343a40;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Герой-секция "О проекте" */
.hero-section-about {
    background: linear-gradient(to right, #007bff, #1e90ff);
    color: #fff;
    padding: 80px 20px;
    text-align: center;
    margin-bottom: 250px;
}

.hero-section-about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-section-about p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Блок описания проекта */
.project-description {
    padding: 60px 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 800px;
}

.project-description h2 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
}

.project-description p {
    font-size: 1rem;
    color: #6c757d;
    line-height: 1.8;
}

main{
    margin-bottom: 75px;
}

/* Особенности проекта */
.features {
    padding: 60px 20px;
    text-align: center;
}

.features h2 {
    color: #007bff;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.feature-box {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feature-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.feature-box h5 {
    color: #343a40;
    font-size: 1.2rem;
}

.feature-box p {
    color: #6c757d;
    font-size: 0.9rem;
}

/* Футер */
footer {
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
    background-color: transparent; /* Убрать фон */
    border-top: 1px solid #dee2e6; /* Легкая граница сверху */
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Адаптивность */
@media (max-width: 768px) {
    .hero-section-about h1 {
        font-size: 2rem;
    }

    .hero-section-about p {
        font-size: 1rem;
    }
}
